
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            color: #333;
        }

        p {
            margin-bottom: 20px;
            color: #555;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        form {
            display: inline-block;
            margin-right: 10px;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>


    <h1>User Data</h1>
    <p>Total number of users: <%= count %></p>

    <h3>To add New User </h3>

    
    <form method="GET" action="/user/new">
        <button>Add New User</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(user of users) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td>
                        <form method="get" action="/user/<%=user.id%>/edit">
                            <button>Edit Username</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" action="/user/<%=user.id%>/delete">
                            <button style="background-color: #ff3333;">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }; %>
        </tbody>
    </table>
</body>
</html>
